<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><a class="site-title" href="/">photoShare</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
            <li><a href="cart" class="fi-shopping-cart"></a></li>
            <% if(typeof user !== "undefined"){
                if(user.local.privilege >= 1){
            %>
            <li><a href="upload">Upload Photo</a></li>
            <%}%>
            <li class="has-submenu">
            <a href="#"><%- user.local.username%></a>
            <ul class="submenu menu vertical" data-submenu>
                <li><a href="profile">Profile</a></li>
                <%if(user.local.privilege == 2){%>
                <li><a href="admin">Admin</a></li>
                <%}%>
                <li><a href="logout">Logout</a></li>
            </ul>
            </li>
            <li><a href="chat">Chat</a></li>
            <%}else{%>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
            <%}%>
        </ul>
    </div>
</div>