@import "site.css";

#messageWrapper{
    height: calc(100% - 56px);
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: calc(100% - 56px);
    overflow-y: scroll;
}
#messages li {
    padding: 5px 10px;
}
.userMsg{

}

.serverMsg{
    background-color: red;
}