<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<meta name="keywords" content=""/>
	<meta name="description" content="404"/>
	<meta name="author" content="Scott Thomson"/>

	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<div class="row">
		<div class="large-6 large-centered columns text-center">
			<h1>404</h1>
			<p>There's nothing here.</p>
			<a href="/">Go back to the homepage</a>
		</div>
	</div>
</body>
</html>