<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare | Chat</title>

    <link rel="stylesheet" href="css/home-style.css">
</head>
<body>

    <header>
        <% include ../partials/nav%>
    </header>

    <div class="row large-6 large-centered columns">
        <ul id="messages"></ul>
        <form action="">
            <input id="msg" autocomplete="off" /><button>Send</button>
        </form>
    </div>

    <% include ../partials/scripts%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.js"></script>
    <script src="js/controllers/chat.js"></script>
</body>
</html>