<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare</title>

    <link rel="stylesheet" href="css/home-style.css">
</head>
<body>

    <header>
        <% include ../partials/nav%>
    </header>

    <div class="callout large primary">
        <div class="row column text-center">
            <h1>photoShare</h1>
            <h2 class="subheader">Share photos and make money while doing it</h2>
            <input type="search" placeholder="Search">
        </div>
    </div>

    <div class="row">
        <div class="medium-4 columns">
            <p><img src="http://placehold.it/400x200&amp;text=Other cool article" alt="article promo image"></p>
            <p><img src="http://placehold.it/400x200&amp;text=Other cool article" alt="article promo image"></p>
        </div>
        <div class="medium-4 columns">
            <p><img src="http://placehold.it/400x200&amp;text=Other cool article" alt="article promo image"></p>
            <p><img src="http://placehold.it/400x200&amp;text=Other cool article" alt="article promo image"></p>
        </div>
        <div class="medium-4 columns">
            <p><img src="http://placehold.it/400x200&amp;text=Other cool article" alt="article promo image"></p>
            <p><img src="http://placehold.it/400x200&amp;text=Other cool article" alt="article promo image"></p>
        </div>
    </div>

    <% include ../partials/scripts%>
</body>
</html>