<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Metadata about the webpage-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Tab Name-->
    <title>photoShare | Login</title>
    
    <link rel="stylesheet" type="text/css" href="css/site-style.css">

</head>
<body>

    <header>
        <% include ../partials/nav%>
    </header>

    <div class="row">
        <div class="medium-6 medium-centered large-4 large-centered columns">
            <form  method="POST" action="/login">
                <div class="row column contentBox">
                    <h3 class="text-center">Log In</h3>

                    <!-- show any messages that come back with authentication -->
                    <% if (message.length > 0) { %>
                    <div class="alert callout" data-closable>
                        <p class="text-center"><%= message %></p>
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>

                    <label>Email
                        <input type="email" name="email" placeholder="name@email.com" autofocus>
                    </label>
                    <label>Password
                        <input type="password" name="password" placeholder="Password">
                    </label>
                    <input type="submit" class="button expanded" value="Log In"/>
                    <p class="text-center"><a href="#">Forgot your password?</a></p>
                </div>
            </form>
        </div>
    </div>

    <% include ../partials/scripts%>
</body>
</html>