<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare | Photo</title>

    <link rel="stylesheet" href="/css/photo.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="/js/services/photosService.js"></script> <!-- load up our controller -->
    <script src="/js/controllers/photosController.js"></script> <!-- load up our controller -->
    <script src="/js/photosCore.js"></script>

</head>
<body ng-app="photosCore" ng-controller="photoCtrl">

    <header>
        <% include ../partials/nav%>
    </header>
    <div class="image-area">
        <div class="row" >
            <div class="large-12 large-centered columns">
                <img class="column" src="{{ photo.url }}">
            </div>
        </div>
    </div>
    <div class="row large-12 columns">
        <div class="row callout">
            <div class="small-6 columns">
                <h3>{{ photo.name }}</h3>
                <a href="/profile/{{ photo.user.username}}">{{ photo.user.username}}</a>
            </div>
            <div class="small-6 columns">
                <p class="text-center">Price: £{{ (photo.price / 100).toFixed(2)}}</p>
                <button class="button expanded float-right">Buy Photo</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns">
            <h5>Tags</h5>
            <div ng-repeat="tag in photo.tags">
                <a href="" class="small hollow button">{{ tag.name }}</a>
            </div>
        </div>
        <div class="medium-6 columns">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item >
                    <a href="" class="accordion-title">Image Data</a>
                    <div class="accordion-content" data-tab-content >
                        <div ng-repeat="(key, value) in photo.data[0].image">
                            <p>{{ key }} - {{ value }}</p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="" class="accordion-title">EXIF Data</a>
                    <div class="accordion-content" data-tab-content>
                        <div ng-repeat="(key, value) in photo.data[0].exif">
                            <p>{{ key }} - {{ value }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <% include ../partials/scripts%>
</body>
</html>