<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare</title>

    <link rel="stylesheet" href="css/home-style.css">
</head>
<body>

    <header>
        <% include ../partials/nav%>
    </header>

    <p>
        <strong>id</strong>: <%= user._id %><br>
        <strong>email</strong>: <%= user.local.email %><br>
        <strong>password</strong>: <%= user.local.password %>
    </p>

    <% include ../partials/scripts%>
</body>
</html>