<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare</title>

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <header>
        <% include ../partials/nav%>
    </header>

    <div class="row">
        <div class="large-12 columns">
            <h1 class="text-center"><%= profileUser.username %></h1>
        </div>
    </div>

    <div class="row small-up-1 medium-up-2 large-up-4">
        <% for(var i = 0; i < photos.length;i++){%>
        <div class="column">
            <a href="/photo/<%= photos[i]._id%>"><img src="<%= photos[i].url%>" class="thumbnail"></a>
        </div>
        <% } %>
    </div>

    <% include ../partials/scripts%>
</body>
</html>