<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare | Search</title>

    <link rel="stylesheet" href="/css/site.css">
</head>
<body ng-app="photosCore" ng-controller="searchCtrl">

    <header>
        <% include ../partials/nav%>
    </header>

    <div class="row">
        <div class="medium-2 columns">
            <div class="row">
                <input type="checkbox">
                <label>Tags</label>
            </div>
            <div class="row">
                <input type="checkbox">
                <label>Photo name</label>
            </div>
        </div>
        <div class="medium-10 columns text-center">
            <div class="input-group">
                <input class="input-group-field" placeholder="Search..." autocomplete="off" type="search" ng-model="search" ng-model-options="{ debounce: 800 }">
                <div class="input-group-button">
                    <button type="submit" class="button"><i class="fi-magnifying-glass"></i></button>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/scripts%>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="/js/services/photosService.js"></script> <!-- load up our controller -->
    <script src="/js/controllers/photosController.js"></script> <!-- load up our controller -->
    <script src="/js/photosCore.js"></script>
</body>
</body>
</html>