<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare | Upload</title>

    <link rel="stylesheet" href="css/upload.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="js/ng-file-upload/ng-file-upload.js"></script>

    <script src="js/services/photosService.js"></script> <!-- load up our controller -->
    <script src="js/photosCore.js"></script>

</head>
<body>
    <header>
        <% include ../partials/nav%>
    </header>

    <div class="row">
        <div class="medium-12 columns">
            <form ng-app="photoUpload" ng-controller="uploadCtrl" name="form" class="callout" enctype="multipart/form-data">

                <img class="previewImage" ngf-src="file" ngf-background="file">

                <div class="input-group">
                    <label class="input-group-label">Name</label>
                    <input class="input-group-field" type="text" ng-model="name">
                </div>

                <div class="input-group">
                    <label class="input-group-label">Tags</label>
                    <input class="input-group-field" type="text" ng-model="tags">
                </div>

                <div class="input-group">
                    <div class="input-group-button">
                        <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                             >Select</div>
                    </div>
                    <div class="input-group-button">
                        <button class="button" ng-click="submit()">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <% include ../partials/scripts%>
    <script>
//        document.getElementById("imageFile").onchange = function () {
//            var reader = new FileReader();
//
//            reader.onload = function (e) {
//                // get loaded data and render thumbnail.
//                document.getElementById("image").src = e.target.result;
//            };
//
//            // read the image file as a data URL.
//            reader.readAsDataURL(this.files[0]);
//        };
    </script>
</body>
</html>