<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare | Upload</title>

    <link rel="stylesheet" href="css/site.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="js/controllers/photosController.js"></script> <!-- load up our controller -->
    <script src="js/services/photosService.js"></script> <!-- load our photo service -->
    <script src="js/photosCore.js"></script> <!-- load our main application -->

</head>
<body ng-app="photosCore" ng-controller="uploadController">
    <header>
        <% include ../partials/nav%>
    </header>

    <div class="row">
        <div class="medium-12 columns">
            <form class="callout" enctype="multipart/form-data">

                <img id="image">

                <div class="input-group">
                    <label class="input-group-label">Name</label>
                    <input class="input-group-field" type="text" ng-model="formData.text">
                </div>

                <div class="input-group">
                    <label class="input-group-label">Tags</label>
                    <input class="input-group-field" type="text">
                </div>


                <div class="input-group">
                    <div class="input-group-button">
                        <input type="file" id="imageFile"  name="formPhoto">
                    </div>
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Upload Photo" ng-click="createPhoto()">
                    </div>
                </div>
            </form>
        </div>
    </div>


    <% include ../partials/scripts%>
    <script>
        document.getElementById("imageFile").onchange = function () {
            var reader = new FileReader();

            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("image").src = e.target.result;
            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        };
    </script>
</body>
</html>