<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare | Upload</title>

    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <header>
        <% include ../partials/nav%>
    </header>

    <div class="row">
        <div class="small-6 small-centered columns ">
            <form class="callout" method="post" action="/upload" enctype="multipart/form-data">
                <img id="image">
                <input id="imageFile" type="file" name="formPhoto">
                <input type="submit">
            </form>
        </div>
    </div>


    <% include ../partials/scripts%>
    <script src="js/controllers/upload.js"></script>
</body>
</html>