<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>photoShare | Upload</title>

    <link rel="stylesheet" href="css/upload.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="js/ng-file-upload/ng-file-upload.js"></script>

    <script src="js/angular-foundation/transition.js"></script>
    <script src="js/angular-foundation/progressbar.js"></script>
    <script src="js/services/photosService.js"></script> <!-- load up our controller -->
    <script src="js/photosUpload.js"></script>

</head>
<body>
    <header>
        <% include ../partials/nav%>
    </header>

    <div class="row">
        <div class="medium-12 columns">
            <form ng-app="photoUpload" ng-controller="uploadCtrl" name="form" class="callout">
                <h1 class="text-center">Upload a photo</h1>

                <img class="previewImage" ngf-src="file" ngf-background="file">

                <progressbar value="dynamic" ng-hide="isntVisibleProgress">{{dynamic}}%</progressbar>

                <div ng-bind-html="errors"></div>

                <div class="input-group">
                    <div class="input-group-button">
                        <div class="button" ngf-select="changeVisible()" ng-model="file" name="file" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                        >Select</div>
                    </div>
                    <div class="input-group-button">
                        <button class="button" ng-click="submit()">Upload</button>
                    </div>
                </div>

                <div class="input-group" ng-hide="isntVisible">
                    <label class="input-group-label">Name</label>
                    <input class="input-group-field" type="text" ng-model="name" ng-required="name">
                </div>

                <div ng-repeat="tag in tags">
                    <div class="small-1 column callout" data-closable>
                        <p> {{tag}} </p>
                        <button class="close-button" aria-label="Dismiss alert" type="button" ng-click="removeTag(tag)" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <div class="input-group" ng-hide="isntVisible">
                    <input class="input-group-field" type="text" ng-model="tag">
                    <div class="input-group-button">
                        <button class="button" ng-click="addTag()">Add Tag</button>
                    </div>
                </div>

                <div class="input-group" ng-hide="isntVisible">
                    <label class="input-group-label" >£</label>
                    <input class="input-group-field" ng-model="price" type="number" min="0.00" step="0.01" value="00.00"/>
                </div>
            </form>
        </div>
    </div>


    <% include ../partials/scripts%>
</body>
</html>